<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Please find OTP for <%= @user.email %></h1>
<p>

  your otp is: <%= @otp %>.<br>
</p>
<p>
  Please login with above otp.
</p>
<p>Thanks for Logging and have a great day!</p>
</body>
</html>